.slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex; /*вот это отвечает за то, что контент и заголовки не прилипли к верху*/
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
}