.overlay {
    position: absolute;
    top: 0;
    left: 200vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 2;
}

.modal {
    background: white;
    padding: 4rem;
    border-radius: 2rem;
    width: 70%;
    height: 60%;
    position: relative;
    margin-left: 5rem;
    margin-top: 5rem;
}

.close {
    position: absolute;
    right: 0.8rem;
    top: -2rem;
    cursor: pointer;
    font-size: 5rem;
    font-weight: 200;
    z-index: 3;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    margin-left: 11.5rem;
    align-content: flex-end;
    height: 50vh;
}

.nav, .dots, .arrows {
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #242424;
    border-radius: 50%;
    margin: 0 5px;
}

.left, .right {
    cursor: pointer;
}

.list {
    counter-reset: list-counter;
    list-style-type: none;
}

.list li::before {
    content: "0" counter(list-counter);
    counter-increment: list-counter;
    color: #8cc9e8;
    font-weight: bold;
    display: block;
}

.list li {
    position: relative;
    padding-top: 2rem;
}

.list li::before {
    position: absolute;
    left: -3rem;
    display: block;
    width: 30rem;
}