.first, .second, .third {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

h1, h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 50%;
    position: relative;
    z-index: 3;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10rem;
    white-space: nowrap;
    margin-left: 0.3rem;
}

h2 {
    font-size: 7rem;
    font-weight: 200;
    line-height: 1.1;
    letter-spacing: 0.08em;
    margin-top: -1rem;
}

.btn {
    display: flex;
    background-color: #ff6a9f;
    color: #242424;
    align-items: center;
    border-radius: 5rem;
    padding: 0.6rem;
    z-index: 1;
}

.btn:active,
.btn:focus {
    border: none;
    outline: none;
}

.btn span {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 1rem 0.3rem 0;
}

.btn .arrow {
    color: white;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
    font-size: 2rem;
    border-style: solid;
    border-color: #242424;
    border-radius: 50%;
    background-color: #242424;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    /*! тень поменять на градиент*/
}

.first {
    .btn {
        align-self: flex-end;
        margin-right: 4.6rem;
        margin-top: -6rem;
    }
}

.second {

    .large {
        direction: rtl;
        overflow: auto;
        margin-top: 2rem;
        width: 86.5vw;
        height: 60vh;
        z-index: 1;
    }

    .frame {
        height: 60%;
        width: 92%;
        margin: 6rem 4rem;
        border: 1px solid white;
        border-radius: 5rem;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 8rem;
        z-index: 0;
    }

    .text {
        direction: ltr;
        font-size: 1.4rem;
        padding: 1rem 8rem;
        margin-left: 2.4rem;
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .large::-webkit-scrollbar,
    .large::-webkit-scrollbar-thumb,
    .large::-webkit-scrollbar-track {
        width: 20px;
        border: none;
        background: transparent;
    }

    .large::-webkit-scrollbar-button,
    .large::-webkit-scrollbar-track-piece,
    .large::-webkit-scrollbar-corner {
        display: none;
    }

    .large::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-image: url('../../../data/img/thumb.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .large::-webkit-scrollbar-track {
        background-image: url('../../../data/img/track.png');
        background-repeat: repeat-y;
        background-size: contain;
        background-position: center;
    }
}

.third {
    flex-direction: row;

    .bottle {
        height: 90vh;
        align-self: flex-end;
        margin-right: 4rem;
        z-index: 2;
    }

    .small {
        font-size: 1.6rem;
        display: flex;
        column-gap: 3rem;
        margin-top: 3rem;
        align-items: flex-start;
        margin-left: -9.5rem;
    }

    .small p {
        border: 1px solid white;
        border-radius: 2rem;
        background-color: white;
        padding: 2.5rem 3rem;
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .small p:first-child {
        padding-left: 10rem;
        padding-bottom: 3rem;
        width: 16rem;
    }

    .btn {
        align-self: flex-end;
        margin-left: -18rem;
        margin-bottom: 2rem;
    }

    .icon {
        width: 5rem;
        height: 4.5rem;
        position: absolute;
        top: -2.5rem;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 200vw;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal {
    outline: 1px solid white;
    border-radius: 2rem;
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.mslider {
    display: flex;
    flex-direction: column;
    width: 78vw;
    margin-left: -10rem;
    margin-top: -10rem;
}

.close {
    cursor: pointer;
    font-size: 5rem;
    font-weight: 200;
    position: relative;
    z-index: 3;
    align-self: end;
    width: 4rem;
    margin-top: -2rem;
}

.left, .right {
    position: relative;
    z-index: 3;
    counter-reset: list-counter;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 5rem;
    margin-left: 11rem;
    margin-right: 3rem;
    width: 29rem;
}

.left {
    counter-reset: list-counter;
}

.right {
    counter-reset: list-counter 3;
}

.left li, .right li {
    counter-increment: list-counter;
    margin-bottom: 0.5rem;
}

.left li::before, .right li::before {
    content: "0" counter(list-counter);
    color: #8cc9e8;
    font-weight: bold;
    display: block;
    width: 30rem;
}

.nav{
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 2px solid #242424;
    border-radius: 50%;
    margin: 1rem 0.5rem 0.5rem;
    /*1rem 0 0.5rem*/
}

.dot.active {
    background: #fc6da9;
    border: 2px solid #fc6da9;
}

.marrow {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 1rem;
}

.pinkSperm {
    width: 40rem;
    position: absolute;
    top: 7.7rem;
    left: 24rem;
    z-index: 4;
}

.bakti1 {
    width: 4rem;
    position: absolute;
    top: 4rem;
    left: 45rem;
    animation: bakti1Movement 20s infinite ease-in-out;
}

@keyframes bakti1Movement {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bakti2 {
    width: 7rem;
    z-index: 4;
    position: absolute;
    top: 12rem;
    left: 50rem;
    animation: bakti2Movement 25s infinite linear;
}

@keyframes bakti2Movement {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(-50px, -50px) rotate(-90deg);
    }
    50% {
        transform: translate(-15px, -85px) rotate(-180deg);
    }
    75% {
        transform: translate(20px, -50px) rotate(-225deg);
    }
    100% {
        transform: translate(0, 0) rotate(-360deg);
    }
}

.bakti3 {
    width: 4rem;
    position: absolute;
    top: 32rem;
    left: 0;
    animation: bakti3Movement 10s infinite ease-in-out;
}

@keyframes bakti3Movement {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(40px, 40px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bakti4 {
    width: 14rem;
    position: absolute;
    bottom: 0;
    left: 30rem;
    animation: bakti4Movement 20s infinite linear;
}

@keyframes bakti4Movement {
    0% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(-70px) scale(1.2);
    }
    50% {
        transform: translate(-140px) scale(1);
    }
    75% {
        transform: translate(-70px) scale(1.2);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

.pinkSpermBlock {
    position: absolute;
    top: 4rem;
    right: -24rem;
    width: 32rem;
    opacity: 0;
}

.animated {
    animation: pinkSpermBlockMovement 1s ease-out forwards;
}

@keyframes pinkSpermBlockMovement {
    from {
        opacity: 0;
        right: -24rem;
    }
    to {
        opacity: 1;
        right: -6rem;
    }
}

.bubble1 {
    width: 2.5rem;
    position: absolute;
    top: 7rem;
    left: 11rem;
    z-index: 1;
    animation: bubble1Movement 15s infinite linear;
}

@keyframes bubble1Movement {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-40px, -40px);
    }
    50% {
        transform: translate(-20px, -60px);
    }
    75% {
        transform: translate(10px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubble2 {
    width: 4rem;
    position: absolute;
    top: 10rem;
    left: 9rem;
    z-index: 2;
    animation: bubble2Movement 10s infinite ease-in-out;
}

@keyframes bubble2Movement {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubble3 {
    width: 2rem;
    position: absolute;
    top: 15rem;
    left: 2rem;
    z-index: 1;
    animation: bubble3Movement 15s infinite linear;
}

@keyframes bubble3Movement {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, -20px);
    }
    75% {
        transform: translate(10px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubble4 {
    width: 8rem;
    position: absolute;
    top: 18rem;
    left: 10rem;
    z-index: 1;
    animation: bubble4Movement 20s infinite linear;
}

@keyframes bubble4Movement {
    0% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(20px, 20px) scale(1);
    }
    50% {
        transform: translate(0, 0) scale(1.3);
    }
    75% {
        transform: translate(-10px, 20px) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

.bubble5 {
    width: 2rem;
    position: absolute;
    top: 30rem;
    left: 0;
    animation: bubble5Movement 10s infinite linear;
    z-index: 2;
}

@keyframes bubble5Movement {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-30px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubble6 {
    width: 4rem;
    position: absolute;
    top: 35rem;
    left: 0;
    animation: bubble6Movement 10s infinite linear;
    z-index: 2;
}

@keyframes bubble6Movement {
    0% {
        transform: translate(-20px, 0) scale(1);
    }
    50% {
        transform: translate(30px, 0) scale(1.4);
    }
    100% {
        transform: translate(-20px, 0) scale(1);
    }
}

.bubble7 {
    width: 3rem;
    position: absolute;
    top: 40rem;
    left: 14rem;
    animation: bubble7Movement 8s infinite linear;
    z-index: 1;
}

@keyframes bubble7Movement {
    0% {
        transform: translate(0, 0) scale(1);
    }
    30% {
        transform: translate(-10px, 0) scale(1.2);
    }
    60% {
        transform: translate(10px, 10px) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

.bubble8 {
    width: 8rem;
    position: absolute;
    bottom: 0;
    left: 20rem;
    animation: bubble8Movement 10s infinite linear;
    z-index: 1;
}

@keyframes bubble8Movement {
    0% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(10px, 10px) scale(1.4);
    }
    50% {
        transform: translate(0, 0) scale(1);
    }
    75% {
        transform: translate(0, 10px) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}